.DS_Store
__pycache__/
.eggs
.idea/
venv*/
note*
src/skrutable/splitter/data/input/*.txt
src/skrutable/splitter/data/output/*.txt
src/skrutable/splitter/wrapper_config.json
build/
dist/
src/*.egg-info